.jumbotron {
	background-color: #62bcfa;
	background: url("Images/gameback.png");
	background-size: cover;
	opacity: 0.8;
	color: #585858;
	padding: 200px 100px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: bolder;
	background-attachment: fixed;
}

body {
	background-color: #252839; 
}

.imaginary {
	background-color: #252839; 
    color: #ffffff;
    padding: 75px 75px;
}

.shade {
	background-color: #677077; 
    color: #ffffff;
    padding: 75px 75px;
}

.sound {
	background-color: #b5b5b7; 
    color: #ffffff;
    padding: 75px 75px;
}

.ggez {
	background-color: #f2b632; 
    color: #ffffff;
    padding: 75px 75px;
}

.link, .link:hover, .link:active, .link:visited { 
	color: #C5F0EA;
}

.to-top {
	padding-top: 25px;
    padding-bottom: 25px;
    color: #ffffff;
}